<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	
	<h1>Robots Index Page</h1>
	
	<ul>
		<% for(let i = 0; i < robots.length; i++) { %>
			<a href="/robots/<%=i%>"><h2><%= robots[i].name %></h2></a>
			<form method="POST" action="/robots/<%=i%>?_method=DELETE">
				<input type="submit" value="DELETE">
			</form>
			<br/>
			<a href="/robots/<%=i%>/edit">Edit</a>
		<% } %>
	</ul>
</body>
</html>