<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Robots Index Page</h1>
	<ul>
		<% for(let i = 0; i < robots.length; i++) { %>
			<h2><%= robots[i].name %></h2>
		<% } %>
	</ul>
</body>
</html>